.display {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;

  .buttons {
    margin-bottom: 2rem;

    .all,
    .active,
    .completed {
      background-color: #fffca8;
      border: 1px solid #064895;
      color: #064895;
    }

    button {
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #064895;
      border: 1px solid #fffca8;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      color: #fffca8;
      cursor: pointer;

      &:nth-child(2) {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // align-self: start;
  }
}

@media (max-width: 640px) {
  .display {
    .buttons {
      button {
        font-size: 0.7rem;
        padding: 0.5rem 0.5rem;
      }
    }

    ul {
      margin-left: 0;
      align-self: auto;
    }
  }
}
